<div class="pets-section">
    <h2>Lista de Mascotas</h2>
    {{#if pets.length}}
        <div class="pets-container">
            {{#each pets}}
                <div class="pet-card">
                    <h3>{{this.name}}</h3>
                    {{#if this.photo.[1]}}
                        <img src="{{this.photo.[1]}}" alt="Imagen de {{this.name}}" class="pet-image" style="width: 50%">
                    {{else}}
                        <img src="/{{this.photo.[0]}}" alt="Imagen de {{this.name}}" class="pet-image" style="width: 50%">
                    {{/if}}
                    <p>Especie: {{this.species}}</p>
                    <p>Edad: {{this.age}} año/s</p>
                    <p>Dueño: {{#if this.owner}}{{this.owner.name}}{{else}}No asignado{{/if}}</p>
                    <a href="/api/pets/{{this._id}}" class="btn">Ver Perfil</a>
                    {{#unless this.owner}}
                        <a href="/pets/{{this._id}}/assignOwner" class="assign-owner-link">Asignar Dueño</a>
                    {{/unless}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <p>No hay mascotas registradas.</p>
    {{/if}}
</div>